In [1]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

# ans.
a = "abhishek",[],3.2,()
print(a)

('abhishek', [], 3.2, ())

In [ ]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.

# What will be the data type of the above given variable.

# Ans.
var1 = string
var2 = string
var3 = list
var4 = float

In [2]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

# Ans.
a = 8
b = 2
print(a/b)  #' / ' operator is use to division in python 

print(a%b)  # ' % ' operator is used to find reminder in python 

print(a//b)  # ' // ' operator is used to find Floor Division in python 

print(a**b)  # ' ** ' operator is used to find power means a=8 and b=2 that means 8power2 = 8x8=64

4.0
0
4
64

In [5]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

# Ans.
a = ["abhi",23,True]
for i in a:
    print(type(i),i)

<class 'str'> abhi
<class 'int'> 23
<class 'bool'> True

In [6]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

# Ans.
a = 8
b = 2 
c = 0
while b/a == c:
   print(c)
if  a%b == 0:
     print("a is purely divisiblle by b")

a is purely divisiblle by b

In [7]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.

# Ans.

a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in a:
  print(i)
  
  if i%3  ==0 :
    print("divisibe")
  else:
    print("not divisible")

1
not divisible
2
not divisible
3
divisibe
4
not divisible
5
not divisible
6
divisibe
7
not divisible
8
not divisible
9
divisibe
10
not divisible
11
not divisible
12
divisibe
13
not divisible
14
not divisible
15
divisibe
16
not divisible
17
not divisible
18
divisibe
19
not divisible
20
not divisible
21
divisibe
22
not divisible
23
not divisible
24
divisibe
25
not divisible

In [1]:
#  Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#  this property.

# Ans.

# mutable 
a = [1,2,3,4]
a[0] = 9
print(a)

# immutable 
a = (1,2,3,4,5)
a[1] = 2
print(a)

[9, 2, 3, 4]

TypeError: 'tuple' object does not support item assignment